.features-section {
  background-color: #ffffff;
  padding-top: 120px;
  /* 🔹 Внутренний отступ сверху */
  padding-bottom: 120px;
  🔹 Внутренний отступ снизу
}
.block-title {
  margin-bottom: 8px;
}

.block-text {
  color: #434455;
}

.features-list {
  display: flex;
  flex-direction: row;
  column-gap: 24px;
  justify-content: center;
} 

.features-item {
  width: calc((100% - 72px) / 4);
}